<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>WebApp Plataforma LPWAN</title>
  <!-- Bootstrap core CSS-->
  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
  <link href="{{url_for('static', filename = 'vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <!--<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">-->
  <link href="{{url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
  <!-- Custom styles for this template-->
<!--
  <link href="css/sb-admin.css" rel="stylesheet">
-->
  <link href="{{url_for('static', filename = 'css/sb-admin.css')}}" rel="stylesheet">
  <link rel="icon" href="{{url_for('static', filename = 'logotyt.png')}}">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Plataforma IoT - T&T</a>
<!--
    <div class="img-square pull-right">
    <img src="{{url_for('static', filename = 'logotyt.png')}}" class="img-fit" alt="GrupoT&T" >
    </div>
-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="GrupoT&T">
          <a target="_blank" class="nav-link" href="http://grupotyt.medellin.unal.edu.co/">
			  
            <img src="{{url_for('static', filename = 'logotyt.png')}}" class="img-fit pull-left" width="30px" height="30px" backgroud="transparent" alt="GrupoT&T" >
            <span class="nav-link-text">  Grupo T&T</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Descargas">
        <a class="nav-link" href="descargas.html">
          <i class="fa fa-fw fa-download"></i>
          <span class="nav-link-text">Descargas</span>
        </a>
      </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Gráficas</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tablas</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Componentes</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Barra de navegación</a>
            </li>
<!--
            <li>
              <a href="cards.html">Cards</a>
            </li>
-->
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
<!--
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>

        </li>
-->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Codensa S.A">
          <a target="_blank" class="nav-link" href="https://www.codensa.com.co/home">
			  
            <img src="{{url_for('static', filename = 'logo_codensa.png')}}" class="img-fit pull-left" width="30px" height="30px" backgroud="transparent" alt="Codensa" />
            <span class="nav-link-text">  Codensa S.A</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Mensajes
              <span class="badge badge-pill badge-primary">12 Nuevos</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">Nuevos mensajes:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Prueba 1</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Mensaje de prueba 1</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Prueba 2</strong>
              <span class="small float-right text-muted">1:56 PM</span>
              <div class="dropdown-message small">Mensaje de prueba 2</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Prueba 3</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Mensaje de prueba 3</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">Ver todos los mensajes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alertas
              <span class="badge badge-pill badge-warning">6 Nuevas</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Alertas nuevas:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Motor encendido</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Secuencia de arranque en proceso</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Conmutador cerrado</strong>
              </span>
              <span class="small float-right text-muted">11:25 AM</span>
              <div class="dropdown-message small">Se ha cerrado el conmutador de red</div>
            </a>
                      
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Buscar...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Plataforma IoT - T&T</li>
      </ol>
     
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> <span id="tituloGrafica">Gráfica Registros</span>
          
          <div class="dropdown inline">
          <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonGraficas" data-toggle="dropdown">Seleccionar gráfica
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation" id="listaGraficasReg"><a class="dropdown-item linkddmenu" href="#">Registros</a></li>
          <li role="presentation" id="listaGraficasRef"><a class="dropdown-item linkddmenu" href="#">Refrigeradores</a></li>
          <li role="presentation" id="listaGraficasEiot"><a class="dropdown-item linkddmenu" href="#">EIoT</a></li>
          <li role="presentation" class="divider"></li>
          </ul>
          </div>
          
          
          
          <br>
          
          <div class="row" id="seccionGrafEiot">
                  <div class="dropdown col-4" id="menuGrafEiot">
                  <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonDispEiot" data-toggle="dropdown">Seleccionar dispositivo
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="liDispEiot" role="menu" aria-labelledby="menu1">
           <!--  {% for key, value in dictEiot.items() %}
          <li role="presentation" id="ListaGraficaEiot{{key}}"><a class="dropdown-item linkddmenu" href="#">{{key}}</a></li>
          {% endfor %} -->
          <li role="presentation" class="divider"></li>

        </ul>
      </div>

      <div class="dropdown col-6 inline" id="menuGrafVarEiot">
        <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonVarEiot" data-toggle="dropdown">Variable EIoT
          <span class="caret"></span></button>
          <ul class="dropdown-menu" id="liVarDispEiot" role="menu" aria-labelledby="menu1">
            <!-- {% for key, value in dictEiot.items() %}
          <li role="presentation" id="listaGrafVarEiot{{value}}"><a class="dropdown-item linkddmenu" href="#">{{value}}</a></li>
          {% endfor %} -->
          <li role="presentation" class="divider"></li>

        </ul>
      </div>

    </div>

    <div class="row" id="seccionGrafRefrig">
     <div class="dropdown col-4" id="menuGrafRefrig">
      <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonDispRefrig" data-toggle="dropdown">Seleccionar refrigerador
        <span class="caret"></span></button>
        <ul class="dropdown-menu" id="liDispRefrig" role="menu" aria-labelledby="menu1">
            <!-- {% for key, value in dictRefrig.items() %}
          <li role="presentation" id="ListaGraficaRefrig{{key}}"><a class="dropdown-item linkddmenu" href="#">{{key}}</a></li>
          {% endfor %} -->
          <li role="presentation" class="divider"></li>

        </ul>
      </div>

      <div class="dropdown col-6 inline" id="menuGrafVarRefrig">
        <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonVarRefrig" data-toggle="dropdown">Variable Refrigerador
          <span class="caret"></span></button>
          <ul class="dropdown-menu" id="liVarDispRefrig" role="menu" aria-labelledby="menu1">
            <!-- {% for key, value in dictRefrig.items() %}
          <li role="presentation" id="listaGrafVarRefrig{{value}}"><a class="dropdown-item linkddmenu" href="#">{{value}}</a></li>
          {% endfor %} -->
          <li role="presentation" class="divider"></li>

        </ul>
      </div>

    </div>
          
          
			

          </div>
        </div>
      
              <div class="card-body">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonCantidadGraficas" data-toggle="dropdown">Cantidad de entradas
					<span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li role="presentation" id="cantidadEntradas5"><a class="dropdown-item linkddmenu" href="#">5</a></li>
							<li role="presentation" id="cantidadEntradas10"><a class="dropdown-item linkddmenu" href="#">10</a></li>
							<li role="presentation" id="cantidadEntradas20"><a class="dropdown-item linkddmenu" href="#">20</a></li>
							<li role="presentation" id="cantidadEntradas50"><a class="dropdown-item linkddmenu" href="#">50</a></li>
							<li role="presentation" id="cantidadEntradasTodas"><a class="dropdown-item linkddmenu" href="#">Todas</a></li>
							<li role="presentation" class="divider"></li>
						</ul>
				</div>
				<br>
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Actualizado {{updateTime}}/div>
        
      </div>
      <div class="row">
        <div class="col-lg-8">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Gráfica de barras</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                  <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
                <div class="col-sm-4 text-center my-auto">
                  <div class="h4 mb-0 text-primary">$573</div>
                  <div class="small text-muted">Precio energía</div>
                  <hr>
                  <div class="h4 mb-0 text-warning">$183</div>
                  <div class="small text-muted">Precio generación kWh</div>
                  <hr>
                  <div class="h4 mb-0 text-success">325.3 MW</div>
                  <div class="small text-muted">Generación disponible</div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Actualizado {{updateTime}}</div>
          </div>
          

          <!-- Example Pie Chart Card-->
          
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> Diagrama de pastel</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">Actualizado {{updateTime}}</div>
          </div>
          </div>
         </div>
          
          
      <!-- Example DataTables Card-->

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> <span id="tituloTabla">Tabla de Registros</span>
          <div class="dropdown inline">
          <button class="btn btn-default dropdown-toggle pull-right" type="button" id="botonTabla" data-toggle="dropdown">Seleccionar tabla
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation" id="listaTablasReg"><a class="dropdown-item linkddmenu" href="#">Registros</a></li>
          <li role="presentation" id="listaTablasRef"><a class="dropdown-item linkddmenu" href="#">Refrigeradores</a></li>
          <li role="presentation" id="listaTablasEiot"><a class="dropdown-item linkddmenu" href="#">EIoT</a></li>
          <li role="presentation" class="divider"></li>
          </ul>
          </div>
          </div>
        <div class="card-body">
          <div class="table-responsive" id="divTablaRegistros">
            <table class="table table-bordered table-display" id="dataTableReg" width="100%" cellspacing="0">
				
				<thead>
                <tr>
                  <th>No. Registro</th>
                  <th>Valor</th>
                  <th>Fecha</th>

                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>No. Registro</th>
                  <th>Valor</th>
                  <th>Fecha</th>
                </tr>
              </tfoot>
				
				
              
              <tbody>
				 {% for item in tablaRegistros %}
                <tr>
					<td class="c1">{{item[0]}}</td>
					<td class="c2">{{item[1]}}</td>
					<td class="c3">{{item[2]}}</td>
				</tr>
				{% endfor %}
              </tbody>
            </table>
            </div>
            <div class="table-responsive hidden" id="divTablaRefrigeradores">
            <table class="table table-bordered table-display" id="dataTableRef" width="100%" cellspacing="0">
				
				<thead>
                <tr>
                  <th>No. Registro</th>
                  <th>ID Refrigerador</th>
                  <th>Variable</th>
                  <th>Valor</th>
                  <th>Fecha</th>

                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>No. Registro</th>
                  <th>ID Refrigerador</th>
                  <th>Variable</th>
                  <th>Valor</th>
                  <th>Fecha</th>
                </tr>
              </tfoot>
				
				
              
              <tbody>
				 {% for item in tablaRefrigeradores %}
                <tr>
					<td class="c1">{{item[0]}}</td>
					<td class="c2">{{item[1]}}</td>
					<td class="c3">{{item[2]}}</td>
					<td class="c2">{{item[3]}}</td>
					<td class="c3">{{item[4]}}</td>
				</tr>
				{% endfor %}
              </tbody>
            </table>
            </div>
            <div class="table-responsive hidden" id="divTablaEiot">
            <table class="table table-bordered table-display" id="dataTableEiot" width="100%" cellspacing="0">
				
				<thead>
                <tr>
                  <th>No. Registro</th>
                  <th>ID Dispositivo</th>
                  <th>Variable</th>
                  <th>Valor</th>
                  <th>Fecha</th>

                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>No. Registro</th>
                  <th>ID Dispositivo</th>
                  <th>Variable</th>
                  <th>Valor</th>
                  <th>Fecha</th>
                </tr>
              </tfoot>
				
				
              
              <tbody>
				 {% for item in tablaEIoT %}
                <tr>
					<td class="c1">{{item[0]}}</td>
					<td class="c2">{{item[1]}}</td>
					<td class="c3">{{item[2]}}</td>
					<td class="c2">{{item[3]}}</td>
					<td class="c3">{{item[4]}}</td>
				</tr>
				{% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

    
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Diseñado por Santiago Gil. Template: Startup Bootstrap</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
<!--
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
    <!-- Core plugin JavaScript-->
<!--
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
-->
    <!-- Page level plugin JavaScript-->
<!--
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
-->
    <!-- Custom scripts for all pages-->
<!--
    <script src="js/sb-admin.min.js"></script>
-->
    <!-- Custom scripts for this page-->
<!--
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
    
-->
    
    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{url_for('static', filename = 'vendor/chart.js/Chart.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.js')}}"></script>
    <!-- Custom scripts for all pages-->
<!--
    <script src="{{url_for('static', filename = 'js/sb-admin.min.js')}}"></script>
-->
    
    <script src="{{url_for('static', filename = 'js/sb-admin.js')}}"></script>
    <!-- Custom scripts for this page-->
<!--
    <script src="{{url_for('static', filename = 'js/sb-admin-datatables.min.js')}}"></script>
-->
    <script src="{{url_for('static', filename = 'js/sb-admin-datatables.js')}}"></script>
<!--
    <script src="{{url_for('static', filename = 'js/sb-admin-charts.min.js')}}"></script>
-->
	<script src="{{url_for('static', filename = 'js/sb-admin-charts.js')}}"></script>
	
	<script>
	var etiq = [
	  {% for item in labels %}
               "{{ item }}",
              {% endfor %}
	];
	
	var datos = [
	  {% for item in values %}
               "{{ item }}",
              {% endfor %}
	];
	
	var dictionarioEiot=[];
   var dictionarioRefrig=[];
   
      {% for key,value in dictGrafEiot.items() %}
    dictionarioEiot["{{ key }}"]={{ value|safe }};
   {% endfor %}

   {% for key,value in dictGrafRefrig.items() %}
    dictionarioRefrig["{{ key }}"]={{ value|safe }};
   {% endfor %}
   
   var listasRegistros=[etiq,datos];

   cargarVariables(dictionarioEiot,dictionarioRefrig,listasRegistros);
	
	loadLineChart(etiq,datos);	
	</script>
	
	<script type="text/javascript" language="javascript" class="init">

		$(document).ready(function() {
		$('table.table-display').dataTable();
		} );

	</script>
	
  <script>
    var lifuncEiot=[];
  var dispEiot = [
    {% for key,values in dictEiot.items() %}
               "{{ key }}",
              {% endfor %}
  ];
  for (var i=0;i<dispEiot.length;i++)
  {
    lifuncEiot[i]="ListaGraficaEiot" + dispEiot[i];
  }

var varxDispEiot={};

    
      {% for key in dictEiot.keys() %}
               varxDispEiot.{{ key }}= [
               {% for values in dictEiot.get(key) %}
               "{{ values }}",
              {% endfor %}
              ];
             {% endfor %}

  var dispRefrig = [
    {% for key,values in dictRefrig.items() %}
               "{{ key }}",
              {% endfor %}
  ];
  var varxDispRefrig={};

  {% for key in dictRefrig.keys() %}
  varxDispEiot.{{ key }}= [
    {% for values in dictEiot.get(key) %}
               "{{ values }}",
              {% endfor %}
              ];
     {% endfor %}
     
  organizarDDmenus(dispEiot,varxDispEiot,dispRefrig,varxDispRefrig);
  asignarVarsListas(lifuncEiot,dispEiot,varxDispEiot);

  

  </script>
  
  </div>
</body>

</html>
